<% include ../partials/header.ejs %>

        <header class="jumbotron">
            <div class="container">
                <h1>Welcome to Egyplaces!</h1>
                <p>View the awesome places recommended by our users.</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="/places/new">Add New Place</a>
                </p>
            </div>
        </header>
        
        

<% include ../partials/footer %>