<% include ../partials/header.ejs %>

        <header class="jumbotron">
            <div class="container">
                <h1>Welcome to O5rog!</h1>
                <p>Where you go to hangout.</p>
                <p>
                    <a class="btn btn-outline-info btn-lg" href="/places/new">Add New Place</a>
                </p>
            </div>
        </header>
        
        <div class="row text-center mb-4" style="display:flex; flex-wrap: wrap;">
            <form action="/places" method="get" class="form-inline mx-auto">
                <div class="form-group">
                    <input type="text" name="search" placeholder="Search for a place..." class="form-control mr-2">
                    <input type="submit" value="Search" class="btn btn-info">
                </div>
            </form>
        </div>
        
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                <% places.forEach(function(place){ %>
                    <div class="col-md-3 col-sm-6 mb-3">
                        <div class="card">
                            <img class="card-img-top" src="<%=place.image%>" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title"><%=place.name%></h4>
                                <p class="card-text" lang="ar" dir="RTL"><%=place.address%></p>
                                <a href="/places/<%=place._id%>" class="btn btn-info">Info</a>
                            </div>
                        </div>
                    </div>
                <% }); %>
        </div>
        

<% include ../partials/footer %>