<% include ../partials/header.ejs %>

        <header class="jumbotron">
            <div class="container">
                <h1>Welcome to Egyplaces!</h1>
                <p>View the awesome places recommended by our users.</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="/newplace">Add New Place</a>
                </p>
            </div>
        </header>
        
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                <% places.forEach(function(place){ %>
                    <div class="col-md-3 col-sm-6 mb-3">
                        <div class="card">
                            <img class="card-img-top" src="<%=place.image%>" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title"><%=place.name%></h4>
                                <p class="card-text" lang="ar" dir="RTL"><%=place.address%></p>
                                <a href="/<%=place._id%>" class="btn btn-primary">Info</a>
                            </div>
                        </div>
                    </div>
                <% }); %>
        </div>
        

<% include ../partials/footer %>