nav {
    margin-bottom: 2em;
    background-color: #17a2b8;
}

.navbar a {
    color: #fff!important;
}

.navbar a:hover {
    color: #ecf0f1!important;
}

.jumbotron {
    background: #17a2b8;
    color: #fff;
}

.btn {
    white-space: normal;
}

.btn-outline-info {
    color: #fff;
    border-color: #fff;
}

.btn-outline-info:hover {
    background: #fff;
    color: #17a2b8;
}

.card {
    min-height: 400px;
}

.card-img-top.index {
    max-height: 170px;
}

.card-title {
    text-transform: capitalize;
}

#recommend {
    margin-top: 5%;
    margin-bottom: 5%;
    border: solid 1px #333;
    padding: 2em;
}

.custom-file-label {
    overflow: hidden;
}

.fb-button {
    background: #4267b2;
}
.fa-facebook-square {
    font-size: 1.4em;
    vertical-align: middle;
    outline: none;
}

#user-avatar {
    max-height: 500px;
}