nav {
    margin-bottom: 2em;
    background-color: #17a2b8;
}

.navbar a {
    color: #fff!important;
}

.navbar a:hover {
    color: #ecf0f1!important;
}

.jumbotron {
    background: #17a2b8;
    color: #fff;
}

.btn-outline-info {
    color: #fff;
    border-color: #fff;
}

.btn-outline-info:hover {
    background: #fff;
    color: #17a2b8;
}

#recommend {
    margin-top: 20%;
    border: solid 1px #333;
    padding: 30px;
}

.custom-file-label {
    overflow: hidden;
}

.fb-button {
    background: #4267b2;
}
.fa-facebook-square {
    font-size: 1.4em;
    vertical-align: middle;
    outline: none;
}