nav {
    margin-bottom: 2em;
}

#recommend {
    margin-top: 20%;
    border: solid 1px #333;
    padding: 30px;
}

.custom-file-label {
    overflow: hidden;
}

.fb-button {
    background: #4267b2;
}
.fa-facebook-square {
    font-size: 1.4em;
    vertical-align: middle;
    outline: none;
}